In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [89]:
# df = pd.read_csv("../altimeter_node/log_data.csv")
df = pd.read_csv("../altimeter_node/log_data_20200121.csv")
df.head()

   temperature  pressure    altitude timestamp
0        23.53  91198.25  923.446114  16:24:01
1        23.53  91196.27  923.638433  16:25:01
2        23.52  91194.08  923.820014  16:26:01
3        23.52  91191.70  924.051190  16:27:01
4        23.52  91193.84  923.843326  16:28:01

In [90]:
df['hour'] = [h[0:2] for h in (df['timestamp'])]
df['minute'] = [h[3:5] for h in (df['timestamp'])]
df['second'] = [h[6:] for h in (df['timestamp'])]
df.head()

   temperature  pressure    altitude timestamp hour minute second
0        23.53  91198.25  923.446114  16:24:01   16     24     01
1        23.53  91196.27  923.638433  16:25:01   16     25     01
2        23.52  91194.08  923.820014  16:26:01   16     26     01
3        23.52  91191.70  924.051190  16:27:01   16     27     01
4        23.52  91193.84  923.843326  16:28:01   16     28     01

In [ ]:
plt.figure(figsize=[16,10])
plt.subplot(311); plt.plot(df["timestamp"],df["temperature"])
plt.xlabel("stamp"); plt.ylabel("temperature (*C)")
plt.subplot(312); plt.plot(df["timestamp"],df["pressure"])
plt.xlabel("stamp"); plt.ylabel("pressure (Pa)")
plt.subplot(313); plt.plot(df["timestamp"],df["altitude"])
plt.xlabel("stamp"); plt.ylabel("altitude (m)")

Text(0, 0.5, 'altitude (m)')